<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ssai>
            <sync>
                <config_code/>
                <widget_code/>
            </sync>
            <general>
                <customer_id/>
                <namespace/>
            </general>
            <selectors>
                <search_selector_json><![CDATA[]]></search_selector_json>
                <results_page_selector/>
            </selectors>
            <overview>
                <auto_inject>0</auto_inject>
                <overview_target_selector/>
                <overview_container_max_width>900px</overview_container_max_width>
                <overview_product_card_max_width>160px</overview_product_card_max_width>
            </overview>
            <behavior>
                <live_search>1</live_search>
                <position>below</position>
            </behavior>
            <styling>
                <primary_color>#0066cc</primary_color>
                <result_bg_color>#ffffff</result_bg_color>
                <result_text_color>#333333</result_text_color>
                <result_font_family>inherit</result_font_family>
                <result_font_size>15px</result_font_size>
                <result_border_radius>8px</result_border_radius>
                <result_border_width>1px</result_border_width>
                <result_border_color>#e0e0e0</result_border_color>
                <result_box_shadow>0 4px 12px rgba(0,0,0,0.15)</result_box_shadow>
                <show_ai_emoji>1</show_ai_emoji>
                <ai_emoji_char>✨</ai_emoji_char>
                <powered_by_prominence>small</powered_by_prominence>
            </styling>
            <feedback>
                <feedback_url/>
            </feedback>
            <service>
                <backend_url/>
                <search_url/>
            </service>
        </ssai>
    </default>
</config>
